# Unity cache & temp
game/[Ll]ibrary/
game/[Tt]emp/
game/[Oo]bj/
game/obj/
game/[Bb]uild/
game/[Bb]uilds/
game/[Ll]ogs/
game/[Uu]ser[Ss]ettings/
game/.vs/
game/*.csproj
game/*.sln
game/*.unityproj
game/*.suo
game/*.user
game/*.userprefs
game/*.pidb
game/*.booproj
game/*.svd
game/*.pdb
game/*.mdb
game/*.opendb
game/*.VC.db
game/*.log

# Git backup
**/.git_backup/
**/.git_backup/**
.git_backup/

# OS files
.DS_Store
Thumbs.db
